<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Seja bem vindo</h1>
        <img src="leao.jpg" alt="Leão"/>
        <div th:each="nome : ${nomes}">
            <h3 th:text="${nome}"></h3>
        </div>
    </body>
</html>


